@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark;
    @apply text-white;
  }
  .logo-white svg path {
    @apply fill-white;
  }
  .logo-dark svg path {
    @apply fill-dark;
  }
}

.stroke-dark svg rect {
  /* stroke: #020a0d; */
  fill: #020a0d;
}

.player {
  width: 100% !important;
  height: 100% !important;
}

.blog_header {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quill {
  border: 1px solid #e7e5e5;
  border-radius: 8px;
}
.quill .ql-snow {
  border: 0;
}
.quill .ql-editor {
  border: 0;
  min-height: 300px;
}

.quill .ql-toolbar {
  border-bottom: 1px solid #e7e5e5;
}
.react-datepicker-wrapper {
  display: block;
}

.parse-content img {
  width: 100% !important;
  height: 400px !important;
  object-fit: contain;
  margin-top: 16px;
}

.parse-content h1 {
  font-size: 24px;
  font-weight: 700;
}
.parse-content p {
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 1024px) {
  .parse-content h1 {
    font-size: 28px;
    font-weight: 700;
  }
  .parse-content p {
    font-size: 20px;
    line-height: 32px;
  }
}
