@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark;
    @apply text-white;
  }
}

.blog_header {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quill {
  border: 1px solid #e7e5e5;
  border-radius: 8px;
}
.quill .ql-snow {
  border: 0;
}
.quill .ql-editor {
  border: 0;
  min-height: 300px;
}

.quill .ql-toolbar {
  border-bottom: 1px solid #e7e5e5;
}
